server {

  # configure /etc/hosts to produce the following url
  server_name crosscourt.io;

  # pass through all other requests to static. this can also
  # be a try_files block
  location / {
    # proxy_pass http://s3.amazonaws.com/example;
    # proxy_set_header Host $http_host;
    root  /Users//Users/kevin/Code/crosscourt-ui/public;
    index index.html;
  }

}

http://learnaholic.me/2012/10/10/installing-nginx-in-mac-os-x-mountain-lion/
http://blankego.github.io/blog/linux/2012/05/02/Hosting-multiple-sites-locally-with-nginx.html
